#preguntas{
    position: relative;
    width: 40%;
    float: left;
    min-height: 200px;
    background-color: aqua;
}
#seleccionadas{
    position: relative;
    width: 40%;
    float: right;
    min-height: 200px;
    background-color: aqua;
}
div.pregunta{position:relative;height:50px;border:1px solid;background-color:beige}

div.marcado{
    border:3px solid blue;
}
div.oculto{
    display:none;
}